services:
  kafka:
    environment:
      #KAFKA_ZOOKEEPER_METADATA_MIGRATION_ENABLE: true
      KAFKA_CONTROLLER_QUORUM_VOTERS: 100@controller01:9093,200@controller02:9093,300@controller03:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      CLUSTER_ID: "BACUEAnrS8O3qk8bBJPaBw"
      KAFKA_KRAFT_MODE: "true"
      KAFKA_PROCESS_ROLES: broker
      #KAFKA_INTER_BROKER_PROTOCOL_VERSION: 3.9